@keyframes pulse {
  50% { border: 8px solid #307fb0 }
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 18px;
  transition: all ease 0.25s;
}

.close:hover {
  color: #303533;
  cursor: pointer;
}

.widget-wrapper {
  animation: pulse 1.25s infinite;
  background: #ffffff;
  border-radius: 3px;
  border-top: 8px solid #4a99ca;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  padding: 10px 15px 15px 15px;
  position: fixed;
  right: 20px;
  top: 20px;
  width: 350px;
  z-index: 1000000;
}

.hidden {
  display: none;
}

.headline1 {
  font-size: 20px;
  font-weight: normal;
  padding-bottom: 10px;
}

.success-icon {
	display: block;
	height: 0;
	margin: 0 auto;
	width: 0;
	transition: all ease 0.3s;
}

.success-icon.open {
	height: 125px;
	width: 125px;
}

.success {
	color: #96c153;
	font-size: 28px;
	padding: 50px 0 0 0;
	text-align: center;
}

.success h3 {
	font-weight: normal;
}
