
/* ############### LAYOUT ############### */
.mobile-cta {
		display: none;
}

.widget-wrapper {
	background: #ffffff;
	border-radius: 3px;
	bottom: 20px;
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	max-width: 430px;
	position: fixed;
	right: 20px;
	width: 100%;
	z-index: 100000;
}

@keyframes pulse {
  50% { background-color: #307fb0 }
}

.widget-header {
	animation: none;
	background: #f0f0f0;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	color: #303533;
	font-size: 20px;
	padding: 15px;
	transition: background ease 0.5s;
}

.widget-header.pulse {
	animation: pulse 1.25s infinite;
	background: #4a99ca;
	border-radius: 3px;
	color: #ffffff;
}

.widget-header:hover {
	cursor: pointer;
}

.widget-header i {
	float: right;
	font-size: 25px;
	transition: all ease 0.5s;
}

.widget-header.pulse i {
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.widget-body {
	display: none;
	max-height: 600px;
	padding: 15px;
	overflow: scroll;
}

@media screen and (max-width: 500px) {
	.mobile-cta {
		background: #4a99ca;
		border-radius: 3px;
		bottom: 15px;
		color: #ffffff;
		display: inline-block;
		font-size: 16px;
		left: 15px;
		padding: 10px;
		position: fixed;
		right: 15px;
		z-index: 100000;
	}

	.mobile-cta:hover {
		cursor: pointer;
	}

	.mobile-cta i {
		float: right;
		font-size: 22px;
	}

	.widget-wrapper {
		bottom: auto;
		display: none;
		left: 10px;
		position: absolute;
		right: 10px;
		top: 10px;
		width: auto;
	}

	.widget-body {
		max-height: auto;
	}
}


/* ############### CONTENT ############### */
.success-icon {
	display: block;
	height: 0;
	margin: 0 auto 10px auto;
	width: 0;
	transition: all ease 0.3s;
}

.success-icon.open {
	height: 125px;
	width: 125px;
}

.success {
	font-size: 28px;
	padding: 80px 0 0 0;
	text-align: center;
}

.success h3 {
	color: #96c153;
	font-weight: normal;
}
