.product-information {
  background: #f0f0f0;
  margin: 0 0 30px 0;
  padding: 15px 20px;

  .wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    min-width: 0;

    img {
      border-radius: 50px;
      height: 40px;
      vertical-align: middle;
      width: 40px;
    }
  }
}

.review-form {
  .wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 600px;
    padding: 0 20px;
    text-align: center;

    #step-info {
      .heading-1 {
        padding: 0 0 5px 0;
      }
    }

    #images {
      input.file {
        display: none;
      }

      img.empty {
        cursor: pointer;
        max-width: 220px;
        width: 100%;
      }

      .image {
        position: relative;
        margin-bottom: 20px;

        .thumbnail {
          border-radius: 2px;
          height: 80px;
          overflow: hidden;
          width: 80px;

          img {
            width: 100%;
          }
        }

        input.text {
          font-size: 14px;
          left: 100px;
          position: absolute;
          padding: 5px;
          top: 25px;
        }

        ::-webkit-input-placeholder,
        :-moz-placeholder,
        ::-moz-placeholder,
        :-ms-input-placeholder {
           color: #cccccc;
        }

        .remove {
        	background: rgba(0,0,0,0.6);
        	border-radius: 50px;
        	color: #ffffff;
        	display: block;
          left: -12px;
          line-height: 0;
          padding: 7px 9px;
        	position: absolute;
          top: -12px;
        }
      }
    }

    #war {
      padding-bottom: 40px;
      text-align: left;
    }
  }
}
