body {
	color: $black;
	font-family: arial, sans;
	font-size: 16px;
	font-weight: 300;
  line-height: 1.5rem;
}

.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5 {
	color: $black;
	font-size: 2.0rem;
  font-weight: bold;
  line-height: 1.75rem;
  margin: 0;
	padding: 0 0 20px 0;

  &.small {
		color: $grey;
    font-family: arial, sans;
		font-weight: normal;
		line-height: 1.25rem;
  }
}

.heading-2 {
	font-size: 1.8rem;
}

.heading-3 {
	font-size: 1.4rem;
}

.heading-4 {
	font-size: 1.0rem;
}

.heading-5 {
	font-size: 0.8rem;
}

p {
  padding-bottom: 40px;

  &:last-child {
    padding-bottom: 0;
  }
}

.text-center {
  text-align: center;
}

.btn-primary {
	background: #007bc3;
	@include border-radius(3px);
	box-shadow: 0 2px 0 0 #004e7c;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	max-width: 400px;
	padding: 10px 15px;
	text-decoration: none;
	transition: all 0.25s ease;

	&:hover {
		background: #004e7c;
	}

	&.full {
		width: 100%;
	}
}
