body {
  background: #f3f3f3;
  color: #565656;
  font-family: arial, sans;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

p {
  padding-bottom: 15px;
}

h1,
h2,
h3,
h4,
h5,
strong {
  color: #303533;
  font-family: "BrandonText-Bold", arial, sans;
  line-height: 1;
  padding-bottom: 10px;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.0em;
}
