.mfb-body {
  background: #ffffff;
  border-radius: 2px;
  bottom: 40px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  padding: 25px;
  position: fixed;
  right: -375px;
  transition: all ease 0.2s;
  width: 300px;
  z-index: 100000;
}

.mfb-body.enabled {
  right: 40px;
}

.mfb-question {
  padding-bottom: 10px;
}

.mfb-head-01,
.mfb-head-03 {
  color: #303533;
  display: block;
  font-family: 'Lato', sans;
  padding-bottom: 5px;
}

.mfb-head-01 {
  font-size: 24px;
}

.mfb-head-03 {
  font-size: 18px;
}

.mfb-answer.yes-no a {
  background: #eee;
  border-radius: 20px;
  color: #303533;
  display: inline-block;
  float: left;
  font-family: 'Lato', sans;
  font-size: 18px;
  margin-right: 5px;
  padding: 10px 0;
  text-align: center;
  text-decoration: none !important;
  transition: all ease 0.25s;
  width: 48%;
}

.mfb-answer.yes-no a:last-child {
  margin: 0;
}

.mfb-answer.yes-no a:hover {
  color: #ffffff;
  background: #0B7bc1;
}

.success {
  font-size: 18px;
  text-align: center;
}

.success-icon {
  display: block;
	height: 0;
	margin: 0 auto 10px auto;
	width: 0;
	transition: all ease 0.3s;
}

.success-icon.open {
  height: 70px;
  width: 70px;
}
