@import url('reset.css');
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

/* COLOR VARIABLES */

/* Backgrounds */
$color-background-body: 		#f6f6f6;
$color-background-nav: 			#3f4b54;
$color-nav-header: 				#4ec48b;
$color-nav-header-button: 		#3e9f70;

/* Borders */
$color-border: 					#dddddd;
$color-border-dark: 			#aaaaaa;

/* Type */
$color-text-body: 				#666666;
$color-text-body-light: 		#aaaaaa;
$color-text-body-extra-light: 	$color-border;
$color-text-headlines: 			$color-background-nav;
$color-text-link: 				#3d8ab1;
$color-text-link-hover: 		#1e5b79;
$color-text-link-active: 		$color-text-link-hover;

/* TYPE SIZES */
$type-size-body: 				16px;
$type-size-mobile-nav: 			2rem;
$type-size-heading1: 			1.625rem;
$type-size-small: 				0.875rem;
$type-size-extra-small: 		0.75rem;

/* SPACING VARIABLES */
$spacing-extra-small:			5px;
$spacing-small: 				10px;
$spacing-medium: 				20px;
$spacing-large: 				30px;
$spacing-extra-large: 			40px;

@mixin border-radius($value) {
	border-radius: $value;
}

@mixin top-border-radius($value) {
	border-top-right-radius: $value;
	border-top-left-radius: $value;
}

@mixin bottom-border-radius($value) {
	border-bottom-right-radius: $value;
	border-bottom-left-radius: $value;
}

@mixin border-box() {
	box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
}

@mixin box-shadow() {
	box-shadow: 0 2px 1px #333;
		-webkit-box-shadow: 0 2px 4px #333;
		-moz-box-shadow: 0 2px 4px #333;
}


body {
	background: $color-background-body;
	font-family: 'Lato', helvetica, arial, sans;
	font-size: $type-size-body;
	line-height: 1.5rem;
}

header {
	display: inline-block;
	width: 100%;

	.mobile-nav {
		background: $color-background-nav;
		padding: $spacing-small;
		width: auto;

		.logo {
			float: left;

			h1 a {
				background: url('../images/retailstore.svg') center no-repeat;
				background-size: 171px 40px;
				display: block;
				height: 40px;
				text-indent: -9999px;
				width: 171px;
			}
		}

		a {
			color: #ffffff;
			display: inline-block;
			float: right;
			font-size: $type-size-mobile-nav;
			padding: $spacing-small $spacing-small 0 0;
		}
	}
	
	nav {
		background: $color-background-nav;
		bottom: 0;
		display: none;
		left: 0;
		margin: 0 auto;
		position: fixed;
		overflow-y: scroll;
 		overflow-x: hidden;
 			-webkit-overflow-scrolling: touch;
		right: 0;
		top: 70px;

		.inner,
		.subnavigation-layer {
			@include border-radius(5px);
			background: #ffffff;
			bottom: $spacing-medium;
			left: $spacing-medium;
			overflow: auto;
			position: fixed;
			right: $spacing-medium;
			top: 95px;
		}

		.subnavigation-layer {
			overflow: hidden;
		}

		.menu-header {
			background: $color-nav-header;
			box-sizing: border-box;
			float: left;
			padding: $spacing-medium;
			width: 100%;
		}

		.menu-header:after { 
			content: " ";
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}

		.scroll {
			height: 100%;
			overflow: auto;
			width: 100%;
		}

		ul li {
			border-bottom: 1px solid $color-border;
			
			.subnavigation {
				display: none;
			}

			a {
				color: $color-text-body;
				display: block;
				font-size: $type-size-heading1;
				font-weight: 900;
				padding: $spacing-medium;
				text-decoration: none;

				i {
					color: $color-text-body-light;
					display: inline-block;
					float: right;
					font-size: $type-size-extra-small;
					padding-top: $spacing-small - 1;
				}
			}

			a:hover {
				background: $color-background-body;
			}

		}

		ul li:last-child {
			border: 0;
		}
	}

	a.back,
	a.all  {
		@include border-radius(3px);
		background: $color-nav-header-button;
		color: #ffffff;
		float: left;
		font-size: $type-size-small;
		padding: $spacing-extra-small $spacing-small;
		text-decoration: none;

		i {
			color: #ffffff;
			float: none;
			font-size: $type-size-extra-small;
		}
	}

	a.all {
		float: right;
	}
}