// STRUCTURE STYLES

.wrapper {
  margin: 0 auto;
  max-width: 960px;
  padding: 20px;

  &.signup {
    max-width: 540px;
  }
}

nav {
  height: 75px;
  position: fixed;
  transition: all ease 0.5s;
  width: 100%;
  z-index: 1000000;

  .nav-logo {
    left: 20px;
    position: absolute;
    top: 15px;

    a {
      background: url('../images/logo-full-white.svg');
      display: inline-block;
      height: 35px;
      text-indent: -999999px;
      width: 187px;
    }
  }

  .nav-menu {
    right: 20px;
    position: absolute;
    top: 15px;

    a {
      color: #ffffff;
      font-family: 'Lato', arial, sans;
    	font-size: 0.80rem;
      font-weight: 900;
      margin-left: 20px;
      text-decoration: none;
      text-transform: uppercase;

      &.on {
        border-bottom: 2px solid $brand-yellow;
        padding-bottom: 5px;
      }
    }
  }

  &.light,
  &.override {
    .nav-logo {
      a {
        background: url('../images/logo-full-navy.svg');
      }
    }

    .nav-menu {
      a {
        color: $brand-navy-dark;

        &.primary.transparent {
          background: rgba(249,171,61,1);
          color: #ffffff;
        }
      }
    }
  }

  &.light {
    background: rgba(255,255,255,0.75);
  }

  &.override {
    background: rgba(255,255,255,0);
  }

  &.motion {
    background: rgba(255,255,255,0.75);
  }
}

header {
  background-size: cover;
  height: 485px;
  margin-bottom: 30px;
  position: relative;
  text-align: center;

  .copy {
    position: absolute;
    top: 220px;
    width: 100%;

    .heading-1 {
      color: #ffffff;
      font-weight: 900;
      font-size: 2.75rem;
      font-style: italic;
      padding-bottom: 10px;
    }

    .heading-2 {
      color: $grey-medium;
      font-weight: 300;
      font-size: 1.625rem;
      font-style: italic;
      padding-bottom: 15px;
    }
  }

  &.main-image-home {
    background: url('../images/background-home-page-header.png') center center no-repeat;
  }

  &.main-image-content {
    background: url('../images/background-content-page-header.png') center center no-repeat;
    height: 320px;

    .copy {
      position: absolute;
      top: 120px;

      .heading-1 {
        color: $brand-navy-dark;
      }

      .heading-2 {
        color: $grey-dark;
      }
    }
  }
}

.get-started {
  border: 1px solid $grey-medium;
  @include border-radius(2px);
  margin: 0 auto 30px auto;
  max-width: 800px;

  div {
    box-sizing: border-box;
    font-size: 0.875rem;
    line-height: 1.5;
    padding: 20px 30px;
    width: 50%;

    &:first-child {
      border-right: 1px solid $grey-medium;
    }
  }
}

footer {
  background: $grey-light;
  margin: 40px 0 0 0;
  padding: 60px 40px 40px 40px;
  position: relative;
  text-align: center;

  p {
    padding-bottom: 10px;
  }

  a {
    color: $brand-navy-dark;
    display: inline-block;
    font-family: 'Lato', arial, sans;
    font-size: 0.75rem;
    font-weight: 900;
    padding: 0 20px 0 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: all ease 0.15s;

    &:hover {
      color: $brand-navy-light;
    }

    &:last-child {
      padding: 0;
    }
  }
}

// TOOL STYLES

.left {
  float: left;
}

.right {
  float: right;
}

.table {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  @media screen and (max-width: $breakpoint-1) {
		box-sizing: border-box;
    display: block;
    margin-bottom: 20px;
    text-align: center;
	}

  .cell {
    padding: 50px 0;
    width: 50%;

    &:last-child {
      margin: 0;
    }

    @media screen and (max-width: $breakpoint-1) {
  		display: block;
      padding: 0;
      text-align: center;
      width: 100%;
  	}
  }

  .cell-second {
    order: 2;
  }
}

.mask-bottom {
  background: url('../images/mask-bottom.svg');
  bottom: 0;
  left: 0;
  position: absolute;
  height: 25px;
  width: 100%;
}

.mask-top {
  background: url('../images/mask-top.svg');
  position: absolute;
  height: 42px;
  left: 0;
  top: 0;
  width: 100%;
}

.divider {
  background: $brand-yellow;
  height: 2px;
  margin: 10px 0;
  width: 250px;

  @media screen and (max-width: $breakpoint-1) {
    margin: 10px auto;
  }
}

// FORM STYLES

.input-text,
.input-textarea {
  -webkit-appearance: none;
  border: 1px solid $grey-medium;
  @include border-radius(3px);
  box-sizing: border-box;
  color: $brand-navy-light;
  font-size: 18px;
  padding: 10px;
  width: 100%;

  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &:-moz-placeholder { /* Chrome/Opera/Safari */
    color: $grey-light;
  }
}

.primary {
  -webkit-appearance: none;
  background: $brand-navy-dark;
  border: none;
  @include border-radius(2px);
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Lato', arial, sans;
  font-size: 1.125rem;
  font-weight: 900;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all ease 0.15s;

  &:hover,
  &:active {
    background: $brand-navy-light;
  }

  &.full {
    width: 100%;
  }

  &.transparent {
    background: rgba(255,255,255,0.3);

    &:hover {
      background: rgba(255,255,255,0.5);
    }
  }
}

.tertiary {
  color: $blue-medium;
  font-family: 'Lato', arial, sans;
  font-size: 0.75rem;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  transition: all ease 0.15s;

  &:hover {
    color: $blue-dark;
  }
}
