@import url("reset.css");
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
/* COLOR VARIABLES */
/* Backgrounds */
/* Borders */
/* Type */
/* TYPE SIZES */
/* 32px */
/* 26px */
/* 22px */
/* 18px */
/* 14px */
/* 12px */
/* SPACING VARIABLES */
/* line 69, ../sass/styles.scss */
body {
  background: #f6f6f6;
  font-family: 'Lato', helvetica, arial, sans;
  font-size: 16px;
  line-height: 1.5rem;
}

/* line 76, ../sass/styles.scss */
header {
  display: inline-block;
  width: 100%;
}
/* line 80, ../sass/styles.scss */
header .mobile-nav {
  background: #3f4b54;
  padding: 10px;
  width: auto;
}
/* line 85, ../sass/styles.scss */
header .mobile-nav .logo {
  float: left;
}
/* line 88, ../sass/styles.scss */
header .mobile-nav .logo h1 a {
  background: url("../images/retailstore.svg") center no-repeat;
  background-size: 171px 40px;
  display: block;
  height: 40px;
  text-indent: -9999px;
  width: 171px;
}
/* line 98, ../sass/styles.scss */
header .mobile-nav a {
  color: #ffffff;
  display: inline-block;
  float: right;
  font-size: 2rem;
  padding: 10px 10px 0 0;
}
/* line 107, ../sass/styles.scss */
header nav {
  background: #3f4b54;
  bottom: 0;
  display: none;
  left: 0;
  margin: 0 auto;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  right: 0;
  top: 70px;
}
/* line 121, ../sass/styles.scss */
header nav .inner,
header nav .subnavigation-layer {
  border-radius: 5px;
  background: #ffffff;
  bottom: 20px;
  left: 20px;
  overflow: auto;
  position: fixed;
  right: 20px;
  top: 95px;
}
/* line 132, ../sass/styles.scss */
header nav .subnavigation-layer {
  overflow: hidden;
}
/* line 136, ../sass/styles.scss */
header nav .menu-header {
  background: #4ec48b;
  box-sizing: border-box;
  float: left;
  padding: 15px 20px;
  width: 100%;
}
/* line 144, ../sass/styles.scss */
header nav .menu-header:after {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 153, ../sass/styles.scss */
header nav .scroll {
  height: 100%;
  overflow: auto;
  width: 100%;
}
/* line 159, ../sass/styles.scss */
header nav ul li {
  border-bottom: 1px solid #dddddd;
}
/* line 162, ../sass/styles.scss */
header nav ul li .subnavigation {
  display: none;
}
/* line 166, ../sass/styles.scss */
header nav ul li a {
  color: #666666;
  display: block;
  font-size: 1.375rem;
  font-weight: 900;
  padding: 15px 20px;
  text-decoration: none;
}
/* line 174, ../sass/styles.scss */
header nav ul li a i {
  color: #aaaaaa;
  display: inline-block;
  float: right;
  font-size: 0.75rem;
  padding-top: 9px;
}
/* line 183, ../sass/styles.scss */
header nav ul li a:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
/* line 187, ../sass/styles.scss */
header nav ul li a:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 191, ../sass/styles.scss */
header nav ul li a:hover {
  background: #f6f6f6;
}
/* line 197, ../sass/styles.scss */
header nav ul li:last-child {
  border: 0;
}
/* line 203, ../sass/styles.scss */
header a.back,
header a.all {
  border-radius: 3px;
  background: #3e9f70;
  color: #ffffff;
  float: left;
  font-size: 0.875rem;
  padding: 5px 10px;
  text-decoration: none;
}
/* line 212, ../sass/styles.scss */
header a.back i,
header a.all i {
  color: #ffffff;
  float: none;
  font-size: 0.75rem;
}
/* line 219, ../sass/styles.scss */
header a.all {
  float: right;
}
