.product-information {
  background: #f0f0f0;
  margin: 0 0 30px 0;
  padding: 15px 20px;

  .wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    min-width: 0;

    img {
      border-radius: 50px;
      height: 40px;
      vertical-align: middle;
      width: 40px;
    }
  }
}

.product-information-original {
	border-bottom: 1px solid #dddddd;
  box-sizing: border-box;
  margin: 0 auto 20px auto;
  max-width: 600px;
	padding: 20px;
	width: 100%;

  .product-image {
  	float: left;
  	width: 90px;

    img {
    	height: auto;
    	width: 100%;
    }
  }

  .product-info {
  	font-size: 12px;
  	line-height: 1.2;
  	margin-left: 110px;
  	width: auto;

    .heading-3 {
      padding: 10px 0 0 0;
    }
  }
}

form {
  padding-bottom: 30px;
}

input.file,
input.file_original {
  display: none;
}

.uploaded_image {
	background: #f9f9f9;
	border: 1px solid #dddddd;
	border-radius: 2px;
	margin-bottom: 8px;
	padding: 10px;
}

.uploaded_image img {
	float: left;
	height: auto;
	margin-right: 10px;
	max-width: 90px;
}

input.caption {
	float: left;
	margin-top: 13px;
	width: 68%;
}

.trash {
	border: 1px solid #c0451e;
	border-bottom: 2px solid #c0451e;
	border-radius: 3px;
	background: #f05e24;
	color: #ffffff;
	cursor: pointer;
	float: right;
	font-size: 24px;
	font-weight: bold;
	margin-top: 13px;
	padding: 8px 12px 6px 12px;
}

.review-form {
  .wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 600px;
    padding: 0 20px;
    text-align: center;

    #step-info {
      .heading-1 {
        padding: 0 0 5px 0;
      }
    }

    #images {
      img.empty {
        cursor: pointer;
        max-width: 220px;
        width: 100%;
      }

      .image {
        margin-bottom: 20px;

        .thumbnail {
          border-radius: 2px;
          height: auto;
          margin: 0 auto;
          position: relative;
          width: 150px;

          img {
            width: 100%;
          }

          .remove {
          	background: rgba(0,0,0,0.6);
          	border-radius: 50px;
          	color: #ffffff;
          	display: block;
            left: -12px;
            line-height: 0;
            padding: 7px 9px;
          	position: absolute;
            top: -12px;
          }
        }

        input.text {
          font-size: 14px;
          float: none;
          margin: 15px auto;
        }

        ::-webkit-input-placeholder,
        :-moz-placeholder,
        ::-moz-placeholder,
        :-ms-input-placeholder {
           color: #cccccc;
        }
      }
    }

    #image-display {
      padding-bottom: 30px;

      .thumbnail {
        height: auto;
        margin: 0 auto 15px auto;
        text-align: center;

        img {
          max-width: 150px;
        }
      }
    }

    #war {
      padding-bottom: 40px;
      text-align: left;
    }
  }
}

.no-thanks {
}
