/* RESET */
.pr-snapshot-head,
.pr-snapshot-head-wrapper,
.pr-snapshot-body,
.pr-snapshot-body-wrapper,
.pr-attribute-group,
.pr-review-sort,
.pr-review-sort-wrapper,
.pr-review-content-header,
.pr-review-sort,
.pr-contents,
.pr-contents-wrapper {
	background: none;
	border: 0;
	color: #2a2a34;
	font-size: 13px;
	line-height: 150%;
	margin: 0;
	padding: 0;
}
