/* RESET */
.pr-snapshot-head,
.pr-snapshot-head-wrapper,
.pr-snapshot-body,
.pr-snapshot-body-wrapper,
.pr-attribute-group,
.pr-review-sort,
.pr-review-sort-wrapper,
.pr-review-content-header,
.pr-review-sort,
.pr-contents,
.pr-contents-wrapper {
	background: none;
	border: 0;
	color: #2a2a34;
	font-size: 13px;
	line-height: 150%;
	margin: 0;
	padding: 0;
}

.pr-review-rating-headline,
.pr-snapshot-title {
	font-family: 'HelveticaNeueW02-77BdCn_694066', Helvetica, sans-serif;
}


/*SNAPSHOT*/
.pr-snapshot-title {
	font-size: 28px;
	font-style: italic;
	letter-spacing: 0.14em;
	text-transform: uppercase;
}

.pr-snapshot-cobrand {
		display: none;
}

.pr-other-attributes-histogram {
	display: block;
}

.pr-other-attributes {
	display: none;
}


/*REVIEWS*/
.pr-review-rating .pr-rating {
	display: none;
}

.pr-review-rating .pr-review-rating-headline {
	clear: both;
}

.pr-review-points {
	display: none;
}
