/*PDP - Reco Score*/
a.v1-wrapper {
	display: inline-block;
	margin: 0 auto 10px auto;
	min-width: 120px;
	text-align: center;
	text-decoration: none;
	transition: all ease 0.2s;
}

.v1-percentage {
	background: #cccccc;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
	line-height: 1;
	padding: 10px;
	transition: all ease 1s;
}

.v1-percentage small {
	display: block;
	font-size: 12px;
	font-weight: normal;
}

.v1-review-count {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom: 1px solid #cccccc;
	-webkit-box-shadow: inset 0px 0px 0 1px #cccccc;
	-moz-box-shadow: inset 0px 0px 0 1px #cccccc;
	box-shadow: inset 0px 0px 0 1px #cccccc;
	color: #4a99ca;
	font-size: 11px;
	padding: 8px 5px;
}

/*PLP - Reco Score*/
a.v2-wrapper {
	display: table;
	margin: 0 auto 40px auto;
	min-width: 180px;
	text-decoration: none;
	transition: all ease 0.2s;
}

.v2-circle {
	background: #cccccc;
	border-radius: 50%;
	display: table-cell;
	float: left;
	height: 20px;
	margin-right: 5px;
	text-indent: -10000px;
	vertical-align: middle;
	width: 20px;
	transition: all ease .1s;
}

a.v2-wrapper:hover .v2-circle {
	height: 30px;
	width: 30px;
}

.v2-percentage {
	color: #666666;
	display: table-cell;
	line-height: 1.2;
	vertical-align: middle;
}

.v2-percentage .count {
	color: #333333;
	font-weight: bold;
}

a.v2-wrapper:hover .v2-percentage,
a.v2-wrapper:hover .v2-percentage .count {
	color: #4a99ca;
}

.v2-percentage .review-count {
	display: block;
	font-size: 0;
	transition: all ease .1s;
}

a.v2-wrapper:hover .v2-percentage .review-count {
	font-size: 11px;
}


/*SLIM - Version*/
a.v3-wrapper {
	color: #ffffff;
	display: inline-block;
	margin-bottom: 8px;
	text-decoration: none;
	transition: all ease 0.2s;
}

a.v3-wrapper:hover,
a.v3-wrapper:active {
	color: #ffffff;
	text-decoration: none;
}

.v3-percentage {
	background: #cccccc;
	border-radius: 2px;
	padding: 4px 10px;
}

.v3-percentage .count {
	font-weight: bold;
}

/*Colors*/
.grey {
	background: #cccccc !important;
}

.dark-red {
	background: #9b2d0e !important;
}

.light-red {
	background: #d83e13 !important;
}

.orange {
	background: #e58510 !important;
}

.yellow {
	background: #f0bb1c !important;
}

.light-green {
	background: #4ca968 !important;
}

.dark-green {
	background: #22813f !important;
}








