.v1-wrapper {
	margin-bottom: 20px;
	max-width: 450px;
}

.v1-recommended {
	color: #303533;
	font-weight: bold;
	padding-bottom: 10px;
	font-size: 24px;
	transition: all ease 0.25s;
}

.v1-recommended small {
	color: #666666;
	font-size: 14px;
	font-weight: normal;
}

.v1-star-container {
	float: left;
	margin-right: 15px;
	padding-bottom: 15px;
}

.v1-star,
.v1-score  {
	border-radius: 2px;
	display: inline-block;
	float: left;
	line-height: 1.1;
	margin-right: 2px;
	padding: 2px 3px 4px 3px;
}

.v1-active {
	background: #f7941d;
}

.v1-inactive {
	background: #cccccc;
}

.v1-score {
	border: 1px solid #cccccc;
	color: #666666;
	line-height: 1.4;
	padding: 0 8px;
}

.v1-arrow {
	color: #4a99ca;
	float: left;
	font-size: 18px;
	padding: 2px 0 0 8px;
}

.v1-read-write {
	float: left;
	min-width: 230px;
}

@media screen and (max-width: 475px) {
	.v1-read-write {
		clear: both;
		float: none;
		padding-top: 10px;
	}
}

.v1-count {
	color: #aaaaaa;
	float: left;
}

@media screen and (max-width: 475px) {
	.v1-count {
		border-left: 0;
		padding-left: 0;
	}
}

.v1-write {
	color: #aaaaaa;
	float: left;
	padding-left: 15px;
}

.v1-count a,
.v1-write a {
	color: #4a99ca;
	font-size: 13px;
	text-decoration: none;
}

/*Colors*/
.grey {
	color: #cccccc !important;
}

.dark-red {
	color: #9b2d0e !important;
}

.light-red {
	color: #d83e13 !important;
}

.orange {
	color: #e58510 !important;
}

.yellow {
	color: #f0bb1c !important;
}

.light-green {
	color: #4ca968 !important;
}

.dark-green {
	color: #22813f !important;
}