.box {
  background: #ffffff;
  box-shadow: 0 20px 50px 5px rgba(0, 0, 0, .5);
  border-radius: 2px;
  position: absolute;
  transition: all ease 0.4s;
  top: 10%;
  bottom: 20%;
  left: 30%;
  right: 30%;
}

.wrapper {
  height: 100%;
  position: relative;
}

.top {
  position: absolute;
  top: 0;
}

.top a {
  display: none;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.image {
  top: 10%;
  bottom: 20%;
  left: 35%;
  right: 35%;
}

.review {
  top: 15%;
  bottom: 25%;
  left: 20%;
  right: 20%;
}

.image-space {
  background: #000000;
  min-height: 350px;
  min-width: 350px;
  float: left;
}

.image-info {
  background: #f0f0f0;
  width: 230px;
  float: right;
}
